<footer>

    <div class="f-info"></div>
<div class="f-info-socials">

 
<i class="fa-brands fa-instagram"></i>
 
<i class="fa-brands fa-facebook"></i>

</div>
<div>&copy; wanderlust private limited</div>

<div class="f-info-links"></div>
<a href="/privacy">privacy</a>

</footer>